<hr>
<footer>
    <div class="footer__content">
        <span class="copyright">
            [[YOUR_NAME]] &copy; {{ 'now' | date: '%Y' }}<br>
        </span>
        <div class="footer__content__slinks">
            <a class="sl" href="#" target="_blank" rel="noopener" aria-label="Go to Twitter"><img src="/dist/images/twitter.svg" alt="Twitter" /></a>
            <a class="sl" href="#" target="_blank" rel="noopener" aria-label="Go to Instagram"><img src="/dist/images/instagram.svg" alt="Instagram" /></a>
        </div>
    </div>
</footer>