<hr>
<footer>
    <div class="footer__content">
        <span class="copyright">
            Eleventy Boilerplate &copy; {{ 'now' | date: '%Y' }}. Built by <a href="https://danielcanetti.com" target="_blank" rel="noopener" aria-label="Go to danielcanetti.com">Daniel Canetti</a>.
        </span>
        <div class="footer__content__slinks">
            <a class="sl" href="https://twitter.com/Dan_Canetti" target="_blank" rel="noopener" aria-label="Go to Twitter"><img src="/dist/images/twitter.svg" alt="Twitter" /></a>
            <a class="sl" href="https://instagram.com/Dan_Canetti" target="_blank" rel="noopener" aria-label="Go to Instagram"><img src="/dist/images/instagram.svg" alt="Instagram" /></a>
        </div>
    </div>
</footer>