<footer>
    <div class="footer__content">
        <span class="copyright">
            Daniel Canetti &copy; {{ 'now' | date: '%Y' }}<br>
            Built with <a class="l" href="https://www.11ty.dev/" target="_blank" rel="noopener" aria-label="Go to Eleventy">Eleventy</a>, <a class="l" href="https://webpack.js.org/" target="_blank" rel="noopener" aria-label="Go to Webpack">Webpack</a>, <a class="l" href="https://www.netlify.com/" target="_blank" rel="noopener" aria-label="Go to Netlify">Netlify</a>, and Coffee. <a class="l" href="/changelog/">View changelog</a>.
        </span>
        <div class="footer__content__slinks">
            <a class="sl" href="https://github.com/DanCanetti" target="_blank" rel="noopener" aria-label="Go to Github"><img src="/dist/images/github.svg" alt="GitHub" /></a>
            <a class="sl" href="https://twitter.com/Dan_Canetti" target="_blank" rel="noopener" aria-label="Go to Twitter"><img src="/dist/images/twitter.svg" alt="Twitter" /></a>
            <a class="sl" href="https://www.youtube.com/c/DanielCanetti/" target="_blank" rel="noopener" aria-label="Go to YouTube"><img src="/dist/images/youtube.svg" alt="Youtube" /></a>
            <a class="sl" href="https://www.twitch.tv/dan_canetti" target="_blank" rel="noopener" aria-label="Go to Twitch"><img src="/dist/images/twitch.svg" alt="Twitch" /></a>
            <a class="sl" href="https://www.instagram.com/dan_canetti/" target="_blank" rel="noopener" aria-label="Go to Instagram"><img src="/dist/images/instagram.svg" alt="Instagram" /></a>
        </div>
    </div>
</footer>