<nav>
  <a class="logo" href="/">{% if pageClass == "sub contact" %}Contact {% endif %}Dan{% if pageClass == "sub" %}'s {{ pageTitle }}{% endif %}{% if pageClass == "sub post" %}'s Blog{% endif %}.</a>
  <ul> 
    <li><a class="l" href="/work/">Work</a></li>
    <li><a class="l" href="/blog/">Blog</a></li>
    <li>
      <div class="njs-toggle-menu">
        <input type="checkbox" id="njs-toggle-menu--toggle" class="njs-toggle-menu--toggle" />
        <label for="njs-toggle-menu--toggle">
        <span class="toggle-menu__toggle-menu-icon">
          <span class="toggle-menu-icon__toggle-menu-icon-inner" aria-label="More menu options - awesome websites"></span>
        </span>
        </label>
        <div class="main-nav">
          <ul>
            <li><a class="l" href="/work/">Work</a></li>
            <li><a class="l" href="/blog/">Blog</a></li>
            <li><a class="l" href="/contact/">Contact</a></li>
            <li><a class="l" href="/awesome-sites/">Inspiration</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
