/*
    Layout
    ---
    Layout rules divide the page into sections. Layouts hold one or more modules together.
    E.G. header, footer
*/

// Navigation
nav {
  background: $dancanettiblack;
  padding: 50px 100px;
  position: relative;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  @include sm {
    padding: 40px;
  }
  .logo {
    font-weight: $pfontbold;
    animation: fade-in 3s ease-in-out 1;
  }
  ul {
    list-style: none;
    display: flex;
    animation: fade-in 3s ease-in-out 1;
    li {
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
      @include sm {
        margin-right: 30px;
        &.hom {
          display: none;
        }
      }
      &.toggle-nightMode {
        input {
          display: none;
        }
        label {
          position: relative;
          cursor: pointer;
          margin-top: 3px;
          display: block;
          img {
            height: 1rem;
          }
        }
      }
    }
  }
}

// Header
.header {
  margin: 0;
  padding: 7.5% 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  h1,
  p,
  a {
    position: relative;
    z-index: 5;
    &.title {
      padding-bottom: 0px;
    }
    &.subtitle {
      margin: -5px 0px 50px 0px;
      font-size: 1.5em;
      @include sm {
        margin-top: 5px;
        font-size: 1em;
      }
    }
  }
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Main Content
.body {
  padding: 120px 200px 0 200px;
  @include md {
    padding: 120px 100px 0 100px;
  }
  @include sm {
    padding: 40px 40px 0 40px;
  }
  &.page-not-found {
    background-image: url("https://media.giphy.com/media/xTiTnHXbRoaZ1B1Mo8/source.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &.body--home {
    //height: calc(100vh - 20px);
    height: 100%;
    padding: 0 100px 0 100px;
    @include sm {
      padding: 40px 40px 0 40px;
    }
  }
  &.body--sub {
    padding: 50px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.body--sub--blog {
      padding-top: 100px;
    }
    @include sm {
      padding: 50px 40px 0 40px;
      &.body--sub--blog {
        padding-top: 100px;
      }
    }
    &.body--sub--404 {
      background-image: url(https://media.giphy.com/media/nDMyoNRkCesJdZAuuL/giphy-downsized.gif);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 700px;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
  .body__section {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: flex-start;
    //margin: 0 auto;
    padding: 0 0 150px 0;
    opacity: 1;
    @include transitionall(0.3s);
    &--project-part {
      padding-bottom: 50px;
    }
    &.fade {
      opacity: 0.3;
    }
    &.body__section--fade {
      animation: fade-in 2s ease-in-out 1;
    }
    &.body__section--fade-up {
      animation: fade-in-up 2s ease-in-out 1;
    }
    &.body__section--narrow {
      max-width: 750px;
    }
    &.body__section--intro {
      height: calc(90vh - 10px);
      max-width: 750px;
      margin-bottom: 100px;
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto 0 0;
      padding: 0;
      @include sm {
        height: auto;
        padding: 200px 0;
      }
      .body__section--intro__face {
        cursor: none;
        img {
          max-width: 180px;
          width: 100%;
          margin-bottom: 25px;
          margin-top: -150px;
          margin-left: -55px;
        }
      }
      h1 {
        font-weight: $pfontreg;
        text-align: left;
        width: 100%;
        font-size: 1.4rem;
        display: inline-block;
        text-transform: unset;
        letter-spacing: unset;
        padding: 0;
        margin: 0;
      }
      @include sm {
        margin-bottom: 0;
      }
    }
    &.body__section--case-study-items {
      padding-top: 0;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @include sm {
        margin-top: 0;
        flex-direction: column;
        width: 100%;
      }
      &.body__section--case-study-items--work, &.body__section--case-study-items--blog {
        width: 100%;
        max-width: $maxwidth;
      }
    }
    @include sm {
      padding: 0px 0px 50px 0px;
    }
    &.body__section--post {
      max-width: 700px;
      margin: 0 auto;
      animation: fade-in-up 2s ease-in-out 1;
      h1 {
        font-family: $pfont;
        font-weight: $pfontbold;
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        text-align: left;
        width: 100%;
        @include sm {
          font-size: 2.25rem;
          margin-top: 0;
          padding-top: 0;
        }
      }
      .body__section--post-meta {
        // Date & Reading Time
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        span {
          margin-right: 25px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      .body__section--post-tag {
        border: 1px solid $dancanettiblack;
        padding: 4px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: 0.7rem;
      }
      h2 {
        width: 80%;
        text-align: left;
        font-size: 1.75rem;
        margin-bottom: 0;
        padding-bottom: 0px;
        margin: 75px auto 0 0;
        @include sm {
          font-size: 1.5rem;
        }
      }
      h3 {
        width: 80%;
        text-align: left;
        font-size: 1.25rem;
        margin: 75px auto 0 0;
        padding-bottom: 0px;
      }
      p {
        max-width: 80%;
        width: 100%;
        margin: 30px auto 0 0;
        @include md {
          max-width: 95%;
        }
      }
      a {
        @include transitionall(0.3s);
        z-index: 1;
        text-decoration: underline;
        text-decoration-color: rgba(255,255,255,.5);
        text-decoration-thickness: .05em;
        text-underline-offset: 5px;
        @include transitionall(.3s);
        &:hover {
          text-decoration-color: $dancanettialt;
        }
        /*
        &:before {
          content: "";
          position: absolute;
          bottom: -1px;
          height: 1px;
          width: 100%;
          opacity: 0.3;
          background: $dancanettigrey;
          @include transitionall(0.3s);
        }
        &:hover {
          &:before {
            opacity: 1;
            background: $dancanettialt;
          }
        }
        */
      }
      ul,
      ol {
        padding-left: 25px;
        max-width: 80%;
        width: 100%;
        margin: 30px auto 0 0;
        &.slick-dots {
          margin-top: 15px;
        }
        li {
          font-size: 1.25rem;
          margin-bottom: 15px;
        }
      }
      img {
        width: 100%;
        height: auto;
        margin: auto;
        &.body__section--post-feat-img {
          z-index: -1;
          margin-top: -10px;
          border-top: 1px solid $dancanettigrey;
        }
        &.project-type-icon {
          width: 18px;
          margin-right: 7px;
          margin-bottom: -3px;
        }
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  z-index: 0;
  text-align: left;
  font-size: 1.75em;
  background-color: $dancanettiblack;
  color: $dancanettiwhite;
  .footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 50px 100px;
    @include sm {
      padding: 50px 40px;
      align-items: flex-start;
      flex-direction: column;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: .5px;
      width: calc(100% - 200px);
      background-color: $dancanettiwhite;
      @include sm {
        width: calc(100% - 80px);
      }
    }
    a {
      color: $dancanettiwhite;
    }
    .footer__content__slinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include sm {
        margin-top: 25px;
      }
      .sl {
        margin-right: 15px;
        img {
          height: 1rem;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .copyright {
    font-size: 0.75rem;
    line-height: 1.5rem;
    @include sm {
      width: 50%;   
    }
  }
}

// Tumblr Feed
#tumblrfeed {
  position: relative;
  width: 100%;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  column-count: 1;
  column-gap: 0px;
  @include sm {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  &:before {
    content: "Loading some inspiration 🔥🔥";
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
