/*
    Page
    ---
    ways to describe how our modules or layouts will look when in a particular state.
    E.G. Is it hidden or expanded? Is it active or inactive?
*/

body {
    &.awesome-websites {
        h2 {
            width: 100%;
            text-align: center;
            @include sm {
                text-align: left;
            }
        }
    }
}

.body {
    &.body--contact {
        .body__section.body__section--post {
            h2 {
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
    &.post {
        padding-top: 50px;
    }
}